body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

nav {
  display: inline-block;
  text-align: center;
}
nav a {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
figcaption{
  font-size: smaller;
  text-align: center;
}
#featured-property p{
  margin: auto;
  max-width: 800px;
  text-align: center;
}
div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: brown;
}
